.boardList {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}

.boardList th {
    text-align: center;
    border-bottom: 1px solid white;
}
.boardList tr:last-child {
    border: none;
}
.boardList th,
.boardList td {
    padding: 2px;
}
.boardList tr th {
    padding: 5px;
}
.post-heading {
    border-bottom: 2px solid white;
}
.title {
    max-width: 470px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.writer, .date {
    text-align: center;
}
.views, .post-num, .recommend {
    text-align: right;
}
.sc-paging {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}
.sc-paging__pages {
    display: flex;
    grid-column: 2;
    justify-self: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}
.sc-paging__nav {
    white-space: nowrap;
}
.sc-paging__prev { justify-self: start; }
.sc-paging__next { justify-self: end; }
.sc-paging__page.is-current {
    color: #75f94c;
    border-color: #75f94c;
}
/* 모바일 환경에서 특정 열만 숨김 */
@media screen and (max-width: 600px) {
    body .col-lg-3, body .col-lg-9, body.col-xs-12 {
        padding: 1px;
    }

    /* 숨길 열 지정 */
    .boardList .hide-on-mobile {
        display: none;
    }
    .boardList th,
    .boardList td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .boardList .post-num {
        min-width: 55px;
    }
}
/* 비 모바일 환경에서는 모든 열을 표시 */
@media screen and (min-width: 601px) {
    .boardList th, .boardList td {
        display: table-cell;
    }
}

/* 모바일 환경에서 Bootstrap Column Padding 조정 */
@media screen and (max-width: 600px) {

}



