.post-title {
    padding: 0.5rem 0.75rem;
    font-size: 32px;
    font-weight: 400;
    border-color: #bbb;
}
.info-row {
    padding: 0.35rem 0.75rem 0.3rem;
    border-bottom: 1px solid;
    border-color: #bbb;
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
}
.btn-right {
    margin: 10px 0;
    float: right;
}
.btn-left {
    margin: 10px 0;
    float: left;
}
.recommend-div {
    text-align: center;
}
.post-content,
.post-content * {
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
}
.post-content img {
    max-width: 100%;
    height: auto !important;
}
#commentContent {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.35);
    padding: 10px;
}
