html {
    font-size: 20px;
}
:root {
    --sc-font-family: "NeoDungGeunMo Pro", "NeoDungGeunMo", sans-serif;
}
body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-family: var(--sc-font-family);
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-synthesis: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.9)), url("http://sc1hub.cdn1.cafe24.com/star_full.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media (max-width: 768px) {
    body {
        font-size: 20px;
    }
}
.section-wrapper {
    min-height: 850px;
}
p {
  font-family: inherit;
  font-size: inherit;
  margin: 10px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
h1, h2, h3 {
    font-size: 32px;
}
h4, h5, h6 {
    font-size: inherit;
}
strong, b {
    font-weight: inherit;
}
em, i {
    font-style: inherit;
}
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
legend {
    font-size: inherit;
    color: #75f94c;
    border-bottom: 0;
    width: auto;
    text-align: center;
    margin: 0;
}
th {
    font-weight: 400;
    padding: 10px;
}
li {
    display: inline-block;
    margin-right: 10px;
}
td {
    padding-top : 10px;
    padding-bottom : 10px;
}
select {
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}
option {
    background-color: #010a47;
}
fieldset {
    border: 1px solid white;
    padding: 10px;
}
a {
    color: white;
}
li {
    margin: 10px;
    display: block;
}
a, a:focus, a:hover {
  text-decoration: none;
  outline: none;
}
input {
    height: 50px;
    border: none;
    margin: 2px;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}
input:focus {
    outline: none;
}
input::placeholder,
textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #ffffff;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.25) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
button {
    height: 50px;
    border: 2px solid #ffffff;
    margin: 2px;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    background-color: transparent;
    cursor: pointer;
}
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
}
button.cancel-btn {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
button.cancel-btn:hover {
    color: grey;
}
.section {
  padding: 80px 0;
}
.title {
  padding: 20px 0 30px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
}
.section-inner {
    margin-top: 10px;
    margin-bottom: 0px;
    min-height: 630px;
}
.ad-banners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.btn {
    font-size: 1rem;
}
textarea.cke_source {
    font-family: var(--sc-font-family);
    color: black;
}
