<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sc1hub.visitor.mapper.VisitorCountMapper">

    <insert id="upsertDailyCount">
        INSERT INTO visitor_count (date, daily_count)
        VALUES (#{date}, 1)
        ON DUPLICATE KEY UPDATE daily_count = daily_count + 1
    </insert>

    <update id="incrementTotalCount">
        UPDATE total_visitor_count SET total_count = total_count + 1
    </update>

    <select id="getTotalCount" resultType="int">
        SELECT total_count FROM total_visitor_count
    </select>

    <select id="getTodayCount" resultType="int">
        SELECT daily_count FROM visitor_count WHERE date = #{date}
    </select>

    <insert id="insertDailyVisitor">
        INSERT IGNORE INTO visitor_daily_identity (visit_date, visitor_hash)
        VALUES (#{date}, #{visitorHash})
    </insert>

    <delete id="deleteDailyVisitorsBefore">
        DELETE FROM visitor_daily_identity WHERE visit_date &lt; #{date}
    </delete>
</mapper>
